.colorpicker {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}

h1 {
    background-color: aquamarine;
}

span {
    display: block;
    background-color: aqua;
}
h2{
    background-color:azure
}
.Block {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    display: inline-block;
    cursor: pointer;
}

#purple { background-color: purple; }
#yellow { background-color: yellow; }
#red { background-color: red; }
#blue { background-color: blue; }
#grey { background-color: grey }


#messageBox {
    display: none;
    background-color: lightpink;
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    margin: 20px auto;

    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

#messageBox.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.Block.active {
    transform: scale(1.08);
    box-shadow: 0 0 15px black;
    border-color: white;
}